body {
    margin: auto;
    width: 55%;
    font-family: Open Sans;
    background-color: #00274C;
    color: rgba(255,255,255,1);
}

footer {
    text-align: center;
}

#title_link {
    color: black;
    text-decoration: none;
}

#title_link:visited {
    color:black;
}

h1 {
    font-size: 30px;
    color: black;
    background-color: #FFCB05;
    border: 3px solid white;
    padding: 2px;
    text-align: center;
}

h3 {
    padding: 2px;
}

label {
    font-size: 25px;
    border: 3px solid white;
    background-color: #383838;
    padding: 5px;
    width: 50%;
    border-radius: 100px;
}

select {
    height: 30px;    
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

input {
    margin-left: 5px;
    margin-bottom: 10px;
    height: 25px;
}

table, #table_title, th, td{
    border: 1px solid white;
    padding: 10px;
    font-size: 25px;
}

#table_title {
    font-size: 30px;
    font:bold;
}

#header, #rule_number {
    background-color: #FFCB05;
    color: black;
    font-size: 25px;
    font: bold;
}

#rule_number, td {
    text-align: center;
}

#demo {
    color: white;
}

.addCondition, .addAction {
    background-color: #00274C;
    border: none;
}

.newActRow, .newCondRow {
    font-size: 25px;
    border: 2px solid white;
    background-color: #383838;
    padding: 5px;
    width: fit-content;
    margin-left: 40px;
    border-radius: 12px;
}

.createTable {
    font-size: 15px;
    color: white;
}

#plus
{
    color: #08FF00;
    box-shadow: 0 3px #999;
    border-radius: 15px;
}

#plus:hover
{
    color: aqua;
}

#plus:active 
{
    color: aqua;
    box-shadow: 0 3px rgb(51, 51, 51);
    transform: translateY(4px);
    border-radius: 15px;
}

#minus
{
    color: #FF4D4D;
    box-shadow: 0 3px #999;
    border-radius: 15px;
}

#minus:hover
{
    color: #CE0F3D;
}
#minus:active 
{
    color: #CE0F3D;
    box-shadow: 0 3px rgb(51, 51, 51);
    transform: translateY(4px);
    border-radius: 15px;
}

#back
{
    color: #CE0F3D;
}

#back:hover
{
    color: #702082;
}

#minRow {
    background-color: #383838;
    border: none;
}

#createTable, #help {
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 100px;
    border: 5px solid #383838;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#help span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#help:hover span {
    padding-right: 15px;
}

#help:hover span:after {
    opacity: 1;
    right: 0;
}

#help span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
} 

#num_cols {
    height: 35px;
    border-radius: 3px;
}

#title {
    height: 22px;
    width: 200px;
    border-radius: 5px;
}

#helpTab
{
    font-size: 20px;
    color: black;
    background-color: #FFCB05;
    border: 1px solid white;
    padding: 2px;
    text-align: center;
}


 .collapsible {
    background-color: #989C97;
    color: black;
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  

  .active, .collapsible:hover {
    background-color: #ccc;
  }
  

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    color: black;
  } 