body {
    margin: auto;
    width: 50%;
    text-align: center;
    font-family: Open Sans;
    background-color: rgba(23,0,141,1);
    color: rgba(255,255,255,1);
}

h1 {
    font-size: 30px;
    background-color: #0059DF;
    border: 1px solid white;
}

label {
    font-size: 25px;
    border: 1px solid white;
    background-color: #4D4D4D;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.conditions
{
    grid-area: 2/1/3/5;
}

.actions {
    grid-area: 3/1/4/5;
}
#plus
{
    color: #08FF00;
}


